<div class="filter-button-group hide-for-small-only">
    <button class="button selected button-rounded-left" data-filter="*">Show All</button>
    <button class="button" data-filter=".grid-website">Websites</button>
    <button class="button" data-filter=".grid-flyer">Flyers</button>
    <button class="button" data-filter=".grid-album">Album Covers</button>
    <button class="button button-rounded-right" data-filter=".grid-project">Projects</button>
</div>

<div class="filter-button-group mobile-view show-for-small-only">
    <div class="button selected button-rounded" data-filter="*">Show All</div>
    <div class="button button-rounded" data-filter=".grid-website">Websites</div>
    <div class="button button-rounded" data-filter=".grid-flyer">Flyers</div>
    <div class="button button-rounded" data-filter=".grid-album">Album Covers</div>
    <div class="button button-rounded" data-filter=".grid-project">Projects</div>
</div>

<div class="grid-container row">
    {{#each items}}
        <article class="grid grid-{{type}}">
            <a href="#!/entry/{{slug_generator type name @key}}">
                <img src="{{thumbnail}}" alt="{{name}}" title="{{name}}">
                <div class="grid__overlay"></div>
                <div class="grid__info">
                    <span>{{type_formatter type}}</span>
                    <h3>{{name}}</h3>
                    <span class="grid__info--date">{{date}}</span>
                </div>
            </a>
        </article>
    {{/each}}
</div>
<script type="text/javascript">
    $('.grid').on('mouseenter', function () {
        smooth_show($(this).find('.grid__info'));
        smooth_show($(this).find('.grid__overlay'));
    });

    $('.grid').on('mouseleave', function () {
        smooth_hide($(this).find('.grid__info'));
        smooth_hide($(this).find('.grid__overlay'));
    });

    $('.filter-button-group').on('click', 'button', function () {
        var filterValue = $(this).attr('data-filter');
        if (filterValue == '*') {
            smooth_show($('.grid'));
        } else {
            smooth_hide($('.grid'), '', 1);
            smooth_show($(filterValue));
        }

        var button_clicked = $(this);
        if (button_clicked.hasClass('selected')) {
            button_clicked.removeClass('selected');
        } else {
            $('.filter-button-group .button').removeClass('selected');
            button_clicked.addClass('selected');
        }
    });
</script>