<div class="post-container row">
    <div class="small-12 medium-6 columns text-container">
        <div class="post__text">
            <a href="#!/" class="back-to-home">
                <i class="fa fa-arrow-left"></i> Back to Home</a>
            <h1 class="no-margin">{{name}}</h1>
            <h5>{{type_formatter type}} | {{date}}</h5>
            <hr>
            <p>
                {{description}}
            </p>
        </div>
    </div>

    <div class="small-12 medium-6 columns">
        {{#each images}}
            <div class="post__images">
                <a title="{{alt}}" data-title="{{caption}}" data-lightbox="{{../name}}" href="{{url}}">
                    <img src="{{url}}" alt="{{alt}}">
                    <div class="post__images__overlay"></div>
                    <div class="post__images__info">
                        <i class="fa fa-search-plus"></i>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>

    <script type="text/javascript">
        $('.post__images').on('mouseenter', function () {
            smooth_show($(this).find('.post__images__info'));
            smooth_show($(this).find('.post__images__overlay'));
        });

        $('.post__images').on('mouseleave', function () {
            smooth_hide($(this).find('.post__images__info'));
            smooth_hide($(this).find('.post__images__overlay'));
        });

        if (window.innerWidth < 1122 && window.innerWidth >= 640) {
            $('.text-container').css('max-width', window.innerWidth / 2);
        }

        $(window).resize(function () {
            if (window.innerWidth < 1122 && window.innerWidth >= 640) {
                $('.text-container').css('max-width', window.innerWidth / 2);
            } else {
                $('.text-container').css('max-width', '');
            }
        });
    </script>
</div>
